<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>利群商场购物车</title>
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/common2.css" />
<link rel="stylesheet" href="../css/cart.css" />
<link rel="stylesheet" href="../css/iconfont.css" />
<script src="../js/require.js" data-main="../js/cart"></script>
</head>
<body>
<!--top-->
<div id="top1" class="clearfix">
	<h2>收藏本站</h2>
	<h3>您好，欢迎来到利群商城！</h3>
	<h4>您好： &nbsp;<span>请登录</span> <i> &nbsp; 会员中心</i></h4>
	<h5>注册</h5>
	<ul class="clearfix">
		<li><i class="iconfont icon-shouji"></i>手机版</li>
		<li><i class="iconfont icon-wo"></i>我的订单</li>
		<li onclick="location.href='index.html';">利群官网</li>
		<img src="../images/a_06.png" alt="" />
		<img src="../images/a_08.png" alt="" />
		<img src="../images/a_10.png" alt="" />
	</ul>
</div>
<!--logo-->
<div id="ban1"><img src="../images/zn_18.jpg" alt="" /></div>
<!--cart-->
<div id="cart">
	<h2><label><input type="checkbox"/> 供应商： <span>利群商城</span></label></h2>
	<div id="gdli">
		<div class="li1 clearfix arg">
			<li>商品名称</li>
			<li>商品单价</li>
			<li>商品数量</li>
			<li>小计</li>
			<li>积分数额</li>
			<li>您的可选操作</li>
			<li>其他说明</li>
		</div>
		<div id="goodsD"></div>
		<div class="li1 li2">
			已选择该供应商的<span></span>件商品  &nbsp; 总重量： <i></i>  &nbsp; 总价（不含邮费）： <span></span>
		</div>
	</div>
	<div class="li1 li3">
		已选择<span></span>件商品  &nbsp; &nbsp; 总价（不含邮费）： <span></span>
		<li onclick="location.href='list.html';">继续购物</li>
		<li onclick="location.href='confirm.html';">结 &nbsp; 算</li>
	</div>
	<img class="img1" src="../images/zn_22.jpg" alt="" />
	<img class="img2" src="../images/zn_25.jpg" alt="" />
	<img class="img3" src="../images/zn_27.jpg" alt="" />
</div>
<!--bottom-->
<div id="bottom">
	<div id="list1" class="list clearfix">
		<a href="#">关于我们</a>
		<div></div>
		<a href="#">联系我们</a>
		<div></div>
		<a href="#">诚聘英才</a>
		<div></div>
		<a href="#">手机利群</a>
		<div></div>
		<a href="#">销售联盟</a>
		<div></div>
		<a href="#">友情链接</a>
		<div></div>
		<a href="#">网站合作</a>
		<div></div>
		<a href="#">帮助中心</a>
		<div></div>
		<a href="#">版本说明</a>
	</div>
	<div id="list2" class="list clearfix">
		<a href="#">利群集团</a>
		<div></div>
		<a href="#">百货集团</a>
		<div></div>
		<a href="#">利群网</a>
		<div></div>
		<a href="#">利群酒店</a>
		<div></div>
		<a href="#">利群房地产</a>
		<div></div>
		<a href="#">利群旅行社</a>
		<div></div>
		<a href="#">利群药品</a>
		<div></div>
		<a href="#">利群影城</a>
		<div></div>
		<a href="#">利群水站</a>
		<div></div>
		<a href="#">利群家教</a>
	</div>
	<p>鲁ICP证09054331号-2 Copyright&copy;2004-2015 利群集团青岛电子商务有限公司 版权所有</p>
	<h2>
		<img src="../images/k_14.jpg" alt="" />
		<img src="../images/k_16.jpg" alt="" />
		<img src="../images/k_18.jpg" alt="" />
		<img src="../images/k_20.jpg" alt="" />
	</h2>
</div>

</body>
</html>
