<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>利群商场购物车</title>
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/common2.css" />
<link rel="stylesheet" href="../css/cart.css" />
<link rel="stylesheet" href="../css/iconfont.css" />
<script src="../js/require.js" data-main="../js/confirm"></script>
</head>
<body>
<!--top-->
<div id="top1" class="clearfix">
	<h2>收藏本站</h2>
	<h3>您好，欢迎来到利群商城！</h3>
	<h4>您好： &nbsp;<span>请登录</span> <i> &nbsp; 会员中心</i></h4>
	<h5>注册</h5>
	<ul class="clearfix">
		<li><i class="iconfont icon-shouji"></i>手机版</li>
		<li><i class="iconfont icon-wo"></i>我的订单</li>
		<li onclick="location.href='index.html';">利群官网</li>
		<img src="../images/a_06.png" alt="" />
		<img src="../images/a_08.png" alt="" />
		<img src="../images/a_10.png" alt="" />
	</ul>
</div>
<!--logo-->
<div id="ban1"><img src="../images/za_03.jpg" alt="" /></div>
<!--confirm-->
<div id="confirm">
<!--address-->
<div id="address" class="confirm">
	<h2>收货地址<span>修改收货地址</span></h2>
	<li class="a1 write"><label><input type="checkbox"/>编辑新地址</label></li>
	<li class="b1"><label>收货人：<input type="text"/> </label>
		 &nbsp; 性别：<select>
			<option value="男">男</option>
			<option value="女">女</option>
		</select>
	</li>
	<li class="b1"><label>手 &nbsp; 机：<input type="text" /></label>
		<label> &nbsp; 电话：<input type="text" /> </label>
	</li>
	<li class="b1">收货地址：<select id="s1"></select>
		<select id="s2"></select>
		<select id="s3"></select>
		<input type="text" />
	</li>
	<li class="a1 a2">
		省外用户商品的运费将根据实际情况进行调整。
	</li>
	<li class="a1 a3">
		<label><input type="checkbox" />自提：</label>
		利群商品在青岛、烟台、威海、日照、潍坊、淄博、莱芜、东营等利群商城、酒店、批发、药店、便利店共设立107个自提点。
	</li>
	<li class="a1">温馨提示：修改收货地址后需要重新选择支付方式。</li>
	<li class="c"><span>保存地址</span><span>取消</span></li>
</div>
<div id="pay" class="confirm">
	<h2>支付方式</h2>
	<li class="clearfix d"><h2>网上支付： &nbsp; </h2>
		<div>
			<label><input type="checkbox" /> &nbsp; 在线支付：</label>
			包含快捷支付、网银支付、分期付款、支付宝、工资卡等支付平台
		</div>
	</li>
	<li class="clearfix"><h2>货到付款： &nbsp; </h2>
		<div>
			<h3>
				<label><input type="radio" name="pay"/> &nbsp; 货到现金：</label>
				送货后您可以使用现金付款，请您准备好现金。
			</h3>
			<h3>
				<label><input type="radio" name="pay"/> &nbsp; 货到刷银联Pos：</label>
				支持中国银行、工商银行、农业银行、招商银行、建设银行等。
			</h3>
			<h3>
				<label><input type="radio" name="pay"/> &nbsp; 货到刷利群金卡：</label>
				利群金卡支持货到刷卡，欢迎使用货到刷卡。
			</h3>
		</div>
	</li>
	<li class="d1">备注：选择网上支付的用户，如果24小时内未支付，将自动取消订单。</li>
	<li class="d1">第三方平台订单需网上支付</li>
</div>
<div id="gd" class="confirm">
	<h2>商品确认</h2>
	<ul class="gdpr clearfix">
		<li>商品编码</li>
		<li>商品名称</li>
		<li>商品单品价格</li>
		<li>商品数量</li>
		<li>单品小计</li>
	</ul>
	<li class="r1">以下商品由<span>利群商场</span>配送</li>
	<div></div>
	<li class="r r1">商品金额： <span></span> &nbsp; 总重量：<i></i> &nbsp;  配送费： 0.00 &nbsp; 订单总额
		<span></span></li>
	<li class="r">全部费用： <span></span></li>
	<li>注意：请认准核对您购买的商品。</li>
</div>
<div id="money" class="confirm">
	<h2>金额确认</h2>
	<ul class="clearfix way1">
		<li>全部费用<span>-</span></li>
		<li>红包支付<span>-</span></li>
		<li>代金券冲抵<span>-</span></li>
		<li>礼品卡支付<span>-</span></li>
		<li>账金账户支付<span>=</span></li>
		<li>您需支付</li>
	</ul>
	<div class="clearfix way1">
		<li class="my1">￥0.00</li>
		<li>￥0.00</li>
		<li>￥0.00</li>
		<li>￥0.00</li>
		<li>￥0.00</li>
		<li class="my1">￥0.00</li>
	</div>
	<li>注意：请认真核对您的金额</li>
</div>
<div id="demand" class="confirm">
	<h2>其他要求</h2>
	<li>收货时间： &nbsp; 
		<label><input type="radio" name="time"/>收货时间不限</label>
		<label><input type="radio" name="time"/>只工作日（双休日/节假日不送）</label>
		<label><input type="radio" name="time"/>只双休日/节假日送货（工作日不送）</label>		
	</li>
	<li>赠送贺卡： &nbsp; 
		<label>是<input type="radio" name="give"/></label>
		<label>否<input type="radio" name="give"/></label>
		 &nbsp; 注：仅限利群商场自营商品订单可赠送贺卡		
	</li>
	<li>显示价格： &nbsp; 
		<label><input type="radio" name="price"/>送货单显示商品价格</label>
		<label><input type="radio" name="price"/>送货单不显示商品价格</label>
		 &nbsp; 注：仅限利群商场自营商品订单可赠送贺卡		
	</li>
	<li>增加备注： &nbsp; 
		<label>是<input type="radio" name="remark"/></label>
		<label>否<input type="radio" name="remark"/></label>
		 如果您有特殊要求和发票明细、商品尺码等，请选择“是”，并填写订单备注		
	</li>
	<li>（注意：一、因物流受到交通情况等各种条件限制，收货时间请勿规定具体时间点。
		二、因省外的顾客朋友购买大家电需要使用第三方物流配送，运费将根据实际情况进行调整。）</li>
	<li>发票类型： &nbsp; 
		<label><input type="radio" name="invoice"/>普通发票</label>
		<label><input type="radio" name="invoice"/>电子发票</label>
		 &nbsp;（建议选择电子发票）		
	</li>
</div>
<div id="submit">确认订单无误，我要下单！</div>
</div>
<img class="img1" src="../images/zn_22.jpg" alt="" />
<img class="img2" src="../images/zn_25.jpg" alt="" />
<img class="img3" src="../images/zn_27.jpg" alt="" />
<!--bottom-->
<div id="bottom">
	<div id="list1" class="list clearfix">
		<a href="#">关于我们</a>
		<div></div>
		<a href="#">联系我们</a>
		<div></div>
		<a href="#">诚聘英才</a>
		<div></div>
		<a href="#">手机利群</a>
		<div></div>
		<a href="#">销售联盟</a>
		<div></div>
		<a href="#">友情链接</a>
		<div></div>
		<a href="#">网站合作</a>
		<div></div>
		<a href="#">帮助中心</a>
		<div></div>
		<a href="#">版本说明</a>
	</div>
	<div id="list2" class="list clearfix">
		<a href="#">利群集团</a>
		<div></div>
		<a href="#">百货集团</a>
		<div></div>
		<a href="#">利群网</a>
		<div></div>
		<a href="#">利群酒店</a>
		<div></div>
		<a href="#">利群房地产</a>
		<div></div>
		<a href="#">利群旅行社</a>
		<div></div>
		<a href="#">利群药品</a>
		<div></div>
		<a href="#">利群影城</a>
		<div></div>
		<a href="#">利群水站</a>
		<div></div>
		<a href="#">利群家教</a>
	</div>
	<p>鲁ICP证09054331号-2 Copyright&copy;2004-2015 利群集团青岛电子商务有限公司 版权所有</p>
	<h2>
		<img src="../images/k_14.jpg" alt="" />
		<img src="../images/k_16.jpg" alt="" />
		<img src="../images/k_18.jpg" alt="" />
		<img src="../images/k_20.jpg" alt="" />
	</h2>
</div>

</body>
</html>
