<!--top-->
<div id="top">
	<h1>
		<img src="../images/a_02.png" alt="logo"/>
	</h1>
	<div id="login" class="clearfix">
		<div id="message" class="clearfix">
			<h2>Hi, <span id="insert"></span> 欢迎来到利群商城！</h2>
			<h3>请登录</h3>
			<h4>免费注册</h4>
		</div>
		<ul>
			<li>我的订单</li>
			<div></div>
			<li><i class="iconfont icon-wo"></i>会员中心</li>
			<div></div>
			<li>客户服务<i class="iconfont icon-zelvxuanzefeiyongdaosanjiaoxingfandui"></i></li>
			<div></div>
			<li><i class="iconfont icon-shouji"></i>手机利群</li>
			<div></div>
			<li onclick="location.href='index.html';">利群官网</li>
			<div></div>
			<li>关注利群:</li>
			<img src="../images/a_06.png" alt="" />
			<img src="../images/a_08.png" alt="" />
			<img src="../images/a_10.png" alt="" />
		</ul>
	</div>
	<div id="search">
		<h2>
			<img src="../images/a_16.jpg" alt="" />
		</h2>
		<h3>
			<img src="../images/b_03.jpg" alt="" />
		</h3>
		<div id="form">
			<form onsubmit="return false;">
				<i class="iconfont icon-fangdajing"></i>
				<input type="text" placeholder="美赞臣"/>
				<input type="button" value=" 搜  索"/>			
			</form>
			<ul>
				<li>热门搜索:</li>
				<li>丹姿大促</li>
				<li>纸品联合</li>
				<li>中秋月饼</li>
				<li>亨氏专场</li>
				<li>手机大促</li>
				<li>家电阅兵</li>
			</ul>
		</div>
		<div onclick="location.href='cart.html';" id="shopCart">
			<div>0</div>
			<i class="iconfont icon-gouwuche"></i> 去购物车结算
		</div>
		<div id="tel">
			<h4>客服热线</h4>
			<h5>4006-888-688</h5>
		</div>
	</div>
</div>
<!--nav-->
<div id="nav">
	<ul>
		<li id="kind">全部商品分类</li>
		<li id="ind">首&nbsp;&nbsp;&nbsp;&nbsp;页</li>
		<li>利群生鲜</li>
		<li>利群超市</li>
		<li>母婴馆</li>
		<li>利群团</li>
		<li>药品商城</li>
		<li>积分商城</li>
		<li>水电煤缴费</li>
	</ul>
</div>