#log{
	width:1024px;height:413px;border:1px solid #d3d3d3;margin:12px auto;
}
#log>*{float:left}
#log>img{margin:42px 78px 0 73px;}
#log>#frame{
	width:287px;height:270px;border:1px solid #d3d3d3;margin-top:58px;background:#fafafa;
	padding:0 20px;
}
#frame>h2>*{float:left}
#frame>h2>li{
	font-size:20px;color:#666;line-height:20px;margin:24px 129px 14px 0;
}
#frame>h2>span{
	width:16px;height:16px;border-radius:8px;background:#e4353a;margin-top:27px;
	line-height:16px;color:#fff;text-align:center;
}
#frame>h2>i{
	font-size:14px;color:#666;line-height:14px;margin-top:27px;
}
#account>*,#pw>*{
	float:left;
}
#account,#pw{
	width:285px;height:38px;border:1px solid #d3d3d3;margin-bottom:10px;
}
#account>img,#pw>img{
	padding:11px;border-right:1px solid #d3d3d3;
}
#account>input,#pw>input{
	width:240px;height:36px;border:0;background:#faffbd;margin-top:2px;
}
#frame>h3{
	text-align:right;color:#666;font-size:12px;;line-height:18px;margin-bottom:7px;
}
#btn{
	border:1px solid #cb2a2d;width:283px;height:33px;margin-bottom:15px;
}
#btn>input{
	border:1px solid #e85356;width:283px;height:33px;background:#e4393c;cursor:pointer;color:#fff;font-size:18px;
}
#fast>*{
	float:left;font-size:12px;color:#000;
}











